<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lista Telefônica</title>

    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-messages.js"></script>
    <script src="../node_modules/angular-locale-pt-br/angular-locale_pt-br.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        .jumbotron {
            width: 45rem;
            text-align: center;
            margin-top: 1.25rem;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 1.25rem;
        }
        .form-control {
            margin-bottom: 0.3125rem;
        }
        .selecionado {
            background-color: rgba(255, 0, 0, 0.192);
        }
        .negrito {
            font-weight: bold;
        }
    </style>

    <script>
        //module creation - a container for different parts from the app 
        angular.module("listaTelefonica", ["ngMessages"]);
        //module configuration          //controller constructor function  - contains bussiness logic            //scop - context where the model is stored so that controllers, directives and expressions can access it
        angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope) {
            // scopes can watch expressions and propagate events
            // they are an execution context for expressions
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: "João", telefone: "12345678", data: new Date(), operadora: {nome: "Oi", código: 14, categoria: "celular"}},
                {nome: "Viviane", telefone: "87654321", data: new Date(), operadora: {nome: "Vivo", código: 15, categoria: "celular"}},
                {nome: "Sofia", telefone: "132435465", data: new Date(), data: new Date(), operadora: {nome: "Tim", código: 41, categoria: "celular"}},
            ];
            $scope.operadoras = [
                {nome: "Oi", código: 14, categoria: "Celular", preco: 2},
                {nome: "Vivo", código: 15, categoria: "Celular", preco: 2},
                {nome: "Tim", código: 41, categoria: "Celular", preco: 1},
                {nome: "GVT", código: 25, categoria: "Fixo", preco: 3},
                {nome: "Embratel", código: 21, categoria: "Fixo", preco: 2.5},
            ]
            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine(); // it erases the invalid messages from $dirty after a phone is added into the list
            };
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato; 
                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                })
            };
            $scope.ordernarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            };
        });
    </script>
</head>
<body ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <!-- alternative way - can be seen in case of slow loading of application: 
            <h4>{{app}}</h4> -->
        <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o que deseja buscar">
        <table class="table">
            <tr>
                <th></th>
                <th><a href="" ng-click="odernarPor('nome')">Nome</a></th>
                <th><a href="" ng-click="odernarPor('telefone')">Telefone</a></th>
                <th>Operadora</th>
                <th>Data</th>
            </tr>                                                                                                                                               <!-- ascendent (false) or descedent (true) order-->
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> <!--  to only filter the name filed: | filter: {nome: criterioDeBusca} -->
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td>{{contato.nome | uppercase}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome | lowercase}}</td>
                <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
                <!-- <td><div style="width: 1.25rem; height: 1.25rem;}"></div></td> -->
                <!-- alternative way:
                    <td ng-repeat="(key,value) in contato">
                        {{value}}
                </td> -->
            </tr>
        </table>

        <!-- ngModel: inputs, selects and textarea -->
        <hr/>

        <form name="contatoForm"> <!-- creates an objet for validation in scope -->
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="2"/>
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>

            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' for operadora in operadoras | orderBy:'nome'">
                <option value="">Selecione uma operadora</option>                      <!--     operadora.codigo as operadora.nome  value = codigo    -->
            </select>   
        </form>  
        <!-- $dirty if the user erases the field once, it will be "dirty" and the message will be displayed -->

        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-show="required">
                Por favor, preencha o nome!
            </div>
            <div ng-show="minlength">
                O campo nome deve conter, no mínimo, 2 caracteres!
            </div>
        </div>
                     <!-- <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
                            Por favor, preencha o nome!
                        </div>
                        <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
                            O campo nome deve conter, no mínimo, 2 caracteres!
                        </div> -->

        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            Por favor, preencha o telefone!
        </div>
        <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O campo telefone deve conter o formato: 12345-6789
        </div>
                                                             <!-- operadora.nome group by operadora.categoria  divide carriers into categories -->
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar novo contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar contatos</button>
        <!-- ng-if: interacts with the DOM and the element is conditionally created or removed 
        ng-show/hng-hide: interacts with the css - adds or remove a 'display: none;'
        performance must me considered when choosing one of them
        -->  
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>
